In [1]:
with open('include/datasets/anime_with_synopsis.csv', 'r') as f:
    anime = f.read()

In [4]:
import pandas as pd

In [9]:
anime = pd.read_csv('include/datasets/anime.csv', sep=',', index_col='MAL_ID')

In [26]:
anime.head()["Favorites"]

MAL_ID
1    61971
5     1174
6    12944
7      587
8       18
Name: Favorites, dtype: int64

In [24]:
anime.dtypes

Name             object
Score            object
Genres           object
English name     object
Japanese name    object
Type             object
Episodes         object
Aired            object
Premiered        object
Producers        object
Licensors        object
Studios          object
Source           object
Duration         object
Rating           object
Ranked           object
Popularity        int64
Members           int64
Favorites         int64
Watching          int64
Completed         int64
On-Hold           int64
Dropped           int64
Plan to Watch     int64
Score-10         object
Score-9          object
Score-8          object
Score-7          object
Score-6          object
Score-5          object
Score-4          object
Score-3          object
Score-2          object
Score-1          object
dtype: object

In [11]:
rating = pd.read_csv('include/datasets/rating_complete.csv', sep=',', nrows=100)

In [12]:
rating

    user_id  anime_id  rating
0         0       430       9
1         0      1004       5
2         0      3010       7
3         0       570       7
4         0      2762       9
..      ...       ...     ...
95        1     33352       7
96        1     37521       9
97        1     39940       7
98        1      4224       9
99        1     41353       8

[100 rows x 3 columns]